.portfolio-logo {
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 700;
    border-style: solid;
    border-width: 2px;
    border-color: #4b6cc1;
    padding-left: 10px;
    padding-right: 10px;
}

.banner-section-bg-container {
    background-color:#183b56;
    height: 100vh;
}

.banner-section-heading {
    color:white;
    font-family: "Roboto";
    font-size: 24px;
}

.banner-section-image {
    width: 280px;
    height: 30vh;
}

.person-name {
    color: #4b6cc1;
}

.custom-button {
    color:black;
    background-color:#dd5d97;
    width: 130px;
    height: 45px;
    border-width: 0;
    border-radius: 8px;
}

.banner-section-description {
    color:white;
    font-family: "Roboto";
    font-size: 24px;
}
.about-me-section {
    background-color:#183b56;
}

.about-me-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.about-me-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.about-me-section-description {
    color:white;
    font-family: "Roboto";
    font-size: 16px;
}

.about-me-section-image {
    width: 100%;
}

.skills-section {
    background-color:#183b56;
}

.skills-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.skills-card {
    background-color: #dd5d97;
    border-radius: 8px;
    padding: 10px;
}

.skills-card-image {
    width: 64px;
    height: 64px;
}

.skills-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}
.projects-section {
    background-color:#183b56;
}

.projects-section-sub-heading {
    color: #cced00;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: bold;
}

.projects-section-heading {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: bold;
}

.projects-card {
    background-color: #323f4b;
    border-radius: 8px;
}

.projects-card-image {
    width: 100%;
}

.projects-card-sub-title {
    color: white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.projects-card-title {
    color: white;
    font-family: "Roboto";
    font-size: 24px;
    font-weight: 500;
    margin-top: 5px;
}

.projects-card-description {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.projects-card-link {
    color: #cced00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: bold;
}
.trending-blogs-section-heading {
    color: #183b56;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 700;
}

.trending-blogs-card-sub-title {
    color:white;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 500;
}

.trending-blogs-card-title {
    color: #183b56;
    font-family: "Roboto";
    font-weight: bold;
    font-size: 24px;
}

.trending-blogs-card-description {
    color: white;
    font-family: "Roboto";
    font-size: 20px;
}

.trending-blogs-card-link {
    color: #ff9f00;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 700;
}
.bg-container {
    background-image: linear-gradient(to right, #f49541, #dd5d97);
    padding-top: 30px;
    padding-bottom: 30px;
}

